html {
    scroll-behavior: smooth;

  } 

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
   
}
  

.firstPage{
    
width: 100%;
height: 100vh;
background:#F1F6F5;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}

.mediv{
     padding-top: 100px; 
     padding-bottom: 30px;
     animation: reveal;
     /* animation-delay: 1.3s; */
    animation-duration: 0.5s;
    animation-iteration-count: 1;
     animation-fill-mode: both; 
     animation-timing-function: ease;
     /* flex-grow: 1; */
     
     
}

.me{
    width: 100px;
   height:100px;
   border-radius: 80px;
   
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 200px; */
    /* background: black; */
}
.heading1 h1{
    font-family: 'Lato', sans-serif;

}

.content1{
  padding-top: 20px;
 font-family: 'Roboto Slab', serif; 

}

/* .img1{
  
   width: 40px;
   height:40px;
}

.anc1{
    
    animation: fadeInAnimation2 ease ;
    animation-delay: 2.7s;
     animation-duration: 1s;
     animation-iteration-count: 1;
     animation-fill-mode: both;
     flex-grow: 1;
} */


    .scroll{
        animation: fadeInAnimation2 ease ;
        animation-delay: 2.7s;
         animation-duration: 1s;
         animation-iteration-count: 1;
         animation-fill-mode: both;
        width:29px;
        height:43px;
        background:black;
        border-radius:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        margin-bottom: 20px;
    }
    .mouse{
     width: 4px;
     height: 4px;
     background:white;
     border-radius: 50%;
      animation-name: scroll-wheel;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        margin-top:10px;
    }
    

  .heading1{ 
   
    animation: fadeInAnimation ease  ;
     /* animation-delay: 1s;  */
     animation-delay: 1.3s;
     animation-duration: 1s;
     animation-iteration-count: 1;
     animation-fill-mode: both;
     /* margin-bottom:30px ; */
    
}  

.content1{ 
    animation: fadeInAnimation2 ease ;
    animation-delay: 1.9s;
     animation-duration: 1s;
     animation-iteration-count: 1;
     animation-fill-mode: both;
     padding-left: 10px;
     padding-right: 10px;
     /* flex-grow: 1; */
}  

 .btn1{
    /* flex-grow: 1; */
    margin-top: 10px;
   
} 
.contactme{
    padding: 10px 27px;
    text-align: center;
    background-color:#EEABA0;
    color:black;
    display: inline-block;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   font-family: 'Roboto Slab', serif; 
   animation: fadeInAnimation2 ease ;
    animation-delay: 2.7s;
     animation-duration: 1s;
     animation-iteration-count: 1;
     animation-fill-mode: both;
}


.secondPage{
    width: 100%;
    height: 100vh;
    display: flex;
     background: #EEABA2;
 
}

 @keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
        
    } 
    
    100% { 
        opacity: 1; 
    } 
}

 @keyframes fadeInAnimation2 { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}  

@keyframes reveal {
    0% {
      
      
              transform: translateY(300%);
    }

    
    100%{
      
     
              transform: translateY(0);
    }
  }

  @keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}

/* 2nd page */
.secondPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif; 


}
.content2{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    line-height: 50px;
    position: relative;
    padding: 20px; */
    width: 50%;
    height: 450px;
    line-height: 50px;
    padding: 20px;
    
}

.hello{
    padding-top: 5px;
}

.social a{
    height: 40px;
    font-size: 14px;
    letter-spacing: .125rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;color: #202020;
    padding:2px;
   
}
.social{
    width: 100%;
    display: flex;
    margin:10px;
    align-items: center;
}
 